body {
    background-image: url(/img/pexels-bertellifotografia-799459.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:repeat-y;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}
h1 {
    display: flex; 
    margin: 10 0 10 0;
    color: rgba(196, 98, 52, 0.61);
    justify-content: center;
    font-family: “Open Sans”, sans-serif;
    color: #ffffffa2;
    text-shadow: 0px -1px 1px #ffffff, 0px -2px 10px #FF3, 0px -10px 20px #F90, 0px -20px 40px #C33;
    
}
.navbar ul {
    list-style-type: none;
    display: flex;
    background-color: rgba(8, 0, 0, 0.925);
    width: fit-content;
    padding: 10px;
    margin: 0px;
    border-radius: 3px;
    font-family: “Open Sans”, sans-serif;
}
.navbar a {
    color: rgba(224, 155, 128, 0.603);
    text-decoration: none;
    padding: 15px;
}
.navbar a:hover {
    background-color: rgba(128, 128, 128, 0.253);
}
.navbar li {
    float: left;
}
h2 {
    display: flex;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    border-radius: 3px;
    justify-content: center;
    width: 300px;
    background-color: rgba(8, 0, 0, 0.925);
    color:rgba(196, 98, 52, 0.61);
    padding: 10px;
    font-family: “Open Sans”, sans-serif;
}
p {
    background-color: rgba(8, 0, 0, 0.973);
    color: rgba(224, 155, 128, 0.603); 
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    width: fit-content;
    line-height: 30px;
    font-family: “Open Sans”, sans-serif;
    font-style: italic;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
}
form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    }

.form-control {
    background-color: rgba(8, 0, 0, 0.925);
    color: white;
    font-family:'Courier New', Courier, monospace;
}
